# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# Virtual environment
# =========================
venv/
env/
.env/

# =========================
# Logs e file temporanei
# =========================
*.log
*.tmp
*.bak

# =========================
# Mininet / Ryu
# =========================
*.dump
*.topo
*.ryu.log
*.sock
*.pid

# =========================
# IDEs / editor
# =========================
.vscode/
.idea/
